form {
    width: 100%;
    margin: 0 auto;
}

.title {
    text-align: center;
}

label, .discription {
    font-size: 16px;
    font-weight: normal;
    padding: 15px 0;
}

.form_input {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}

#add_button, .numbers {
    margin: 0 auto;
}

#add_button {
    width: 30%;
    margin-top: 25px;
}

.form_result {
    box-sizing: border-box;
    width: 100%;
    min-height: 70px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 25px;
    padding: 25px;
}

#reset_button {
    display: block;
    max-width: 50px;
    float: right;
}
